<!DOCTYPE html>
<html>
  <head>
    <title>Tutor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:url" content="https://aucklandmarathon2020.everydayhero.com/nz/chev">
    <meta property="og:title" content="Help Chris “Tortoise” Budd make a difference">
    <meta property="og:description" content="I am privileged to work as a clinical psychologist at Starship, walking alongside liver and heart transplant families during their own much more challenging journeys. Please help me to raise money for the wonderful Starship Foundation.

	Thanks to your generosity, last year I raised $2500 running 11km! This year I have upped the stakes to a half marathon, and hope to increase donations by a similar percentage. By my maths that is a target of $4775.

	Any support would be hugely appreciated!

	">
	<meta property="og:type" content="image/png">

	<meta property="og:image" content="https://supporter-2.cdn.everydayhero.com/users/images/3057875/facebook_xl/profilepic-b57dd6e6f9f5583cd87b3d3bd168db1a.">


  </head>

  <body>
  	<h1>TEST OG Share </h1>
    <%#= yield %>
  </body>
</html>
